# Server
PORT=3000

# Database
# DB_HOST=localhost
DB_USER=weatherStation
DB_PASSWORD=yourPassword
DB_NAME=weatherStation
DB_PORT=3306

# Docker MySQL Container
MYSQL_DATABASE=weatherStation
MYSQL_USER=weatherStation
MYSQL_PASSWORD=yourPassword
MYSQL_ROOT_PASSWORD=yourRootPassword
MYSQL_PORT=3306
